In [1]:
# Creating a Set of numbers
print("\nSet: ")
s = {1, 2, 4, 5, 6}
print(s)

Set:
{1, 2, 4, 5, 6}

In [2]:
# Creating a Set using built-in set()
print("\nBlank Set: ")
set1 = set()
print(set1)

Blank Set:
set()

In [3]:
# Creating a Set with the use of a String
print("\nSet with the use of String: ")
set1 = set("CreationOfSetUsingString")
print(set1)

Set with the use of String:
{'s', 'O', 'o', 'n', 'a', 'C', 'U', 'g', 'r', 'e', 't', 'i', 'S', 'f'}

In [4]:
# Creating a Set with a both numbers and strings in a list
print("\nSet with the use of numbers and strings")
set1 = set([1, 2, 'Apple', 4, 'Book', 6,])
print(set1)

Set with the use of numbers and strings
{1, 2, 'Apple', 4, 6, 'Book'}